.footer {
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-stretch: expanded;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #dddddd;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
